In [1]:
import numpy as np
import pandas as pd
data = np.genfromtxt('data.txt', dtype=int, delimiter=',')

#  Attribute                     Domain
#  -- -----------------------------------------
#  1. Sample code number            id number
#  2. Clump Thickness               1 - 10
#  3. Uniformity of Cell Size       1 - 10
#  4. Uniformity of Cell Shape      1 - 10
#  5. Marginal Adhesion             1 - 10
#  6. Single Epithelial Cell Size   1 - 10
#  7. Bare Nuclei                   1 - 10
#  8. Bland Chromatin               1 - 10
#  9. Normal Nucleoli               1 - 10
# 10. Mitoses                       1 - 10
# 11. Class:                        (2 for benign, 4 for malignant)
df = pd.DataFrame(data, columns=[np.arange(1,12)])
df.head()

        1  2  3  4  5  6   7  8  9  10 11
0  1000025  5  1  1  1  2   1  3  1  1  2
1  1002945  5  4  4  5  7  10  3  2  1  2
2  1015425  3  1  1  1  2   2  3  1  1  2
3  1016277  6  8  8  1  3   4  3  7  1  2
4  1017023  4  1  1  3  2   1  3  1  1  2

In [2]:
del df[1]
df.replace('?', -99999, inplace=True)
y = np.array(df[11])

# x is array of feature (drop the Class column)
x = np.array(df.drop([11],1))

from sklearn import preprocessing, cross_validation, svm
x_train, x_test, y_train, y_test = cross_validation.train_test_split(x,y,test_size=0.2)

clf = svm.SVC() # Support Vector Classifier
clf.fit(x_train, y_train)

accuracy = clf.score(x_test, y_test)
accuracy

/home/default/.local/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/default/.local/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9714285714285714

In [3]:
example = np.array([[5,2,6,3,4,9,3,2,1],[5,2,2,3,3,3,3,2,1]])
example = example.reshape(2,-1)

np.array([[5,2,6,3,4,9,3,2,1],[5,2,2,3,3,3,3,2,1]])

prediction = clf.predict(example)
prediction

array([4, 2])